<h1>Héroes de <small> Marvel y DC</small> </h1>
<hr>

<!-- Este; heroes.component es el componente padre; su hijo es el componente
app-heroe-card component -->
<div class="card-columns">

    <!-- Con el Input que pusimos en el componente (hijo) app-heroe-card; podemos indicar que desde el componente
    actual, heroes.component (padre), vamos a mandarle un argumento al hijo con el mismo nombre que tiene la propiedad alla (heroe): el [heroe] puede tener cualquier nombre; "heroe" es el que creamos en el for  -->
    <app-heroe-card [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-card>
    
</div>    